@import "./vars.css";

.App {
    background-color: var(--color-bg); /* dark background */
    color: var(--color-white);         /* white text */
    min-height: 100vh;                 /* full screen height */
    width: 100%;                        /* full width */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
